html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

input {
  border: none;
}

body {
  width: 151.2rem;
}

.all-designs-5ZA {
  background-color: #ffffff;
  width: 100%;
  height: 679rem;
  position: relative;
}

.all-designs-5ZA .main-R7E {
  height: 678.9rem;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 7.8031rem;
  width: 151.2rem;
  position: absolute;
  left: 0;
  top: 0;
}

.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12.8rem 11.6rem 3.2rem 11.1rem;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .my-design-rTS {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0rem 0rem 17.539rem 0.5rem;
  width: calc(100% - 0.5rem);
  height: 39.2rem;
}

.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .my-design-rTS .div-Nwa {
  margin: 0.95rem 29.872rem 0rem 0rem;
  overflow: hidden;
  font-size: 7.4rem;
  color: #000000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40.1rem;
  font-weight: 500;
  line-height: 1;
  text-transform: capitalize;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 7.4rem;
  white-space: nowrap;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Public Sans, 'Source Sans Pro';
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .my-design-rTS .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-FkU {
  height: 100%;
  row-gap: 4.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 58.0283rem;
}

.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .my-design-rTS .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-FkU .div-AMe {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 0.0283rem;
  width: calc(100% - 0.0283rem);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .my-design-rTS .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-FkU .div-AMe .auto-group-gzup-hMa {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 0.9rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .my-design-rTS .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-FkU .div-AMe .auto-group-gzup-hMa .year-dm2 {
  font-weight: 400;
  white-space: nowrap;
  margin-bottom: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.4rem;
  line-height: 1.375;
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .my-design-rTS .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-FkU .div-AMe .auto-group-gzup-hMa .current-9UU {
  white-space: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.3888888889;
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
}

.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .my-design-rTS .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-FkU .div-AMe .div-apg {
  background-color: rgba(0, 0, 0, 0.3);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 0.1rem;
}

.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .my-design-rTS .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-FkU .div-jha {
  width: 100%;
  row-gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .my-design-rTS .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-FkU .div-jha .services-tqN {
  font-family: Public Sans, 'Source Sans Pro';
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 0.0283rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  white-space: nowrap;
}

.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .my-design-rTS .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-FkU .div-jha .branding-redesign-pj2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.3888888889;
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
  white-space: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .my-design-rTS .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-FkU .div-jha .div-Ant {
  margin-left: 0.0283rem;
  width: calc(100% - 0.0283rem);
  height: 0.1rem;
  background-color: rgba(0, 0, 0, 0.3);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .my-design-rTS .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-FkU .div-Wbr {
  margin-left: 0.0283rem;
  width: calc(100% - 0.0283rem);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .my-design-rTS .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-FkU .div-Wbr .auto-group-be8g-sSQ {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 0.9rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .my-design-rTS .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-FkU .div-Wbr .auto-group-be8g-sSQ .intro-cun {
  margin-bottom: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
  white-space: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .my-design-rTS .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-FkU .div-Wbr .auto-group-be8g-sSQ .redesigned-software-websites-and-apps-of-some-of-the-most-liked-intuitive-products-in-the-market-note-these-designs-are-non-functional-and-do-not-belong-to-the-respective-brands-Z4L {
  font-family: Public Sans, 'Source Sans Pro';
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 50.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.3888888889;
  color: #000000;
}

.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .my-design-rTS .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-FkU .div-Wbr .div-Deg {
  width: 100%;
  height: 0.1rem;
  background-color: rgba(0, 0, 0, 0.3);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .web-mAQ {
  margin-bottom: 4.0609rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .web-mAQ .adidas-1-vJC {
  width: 63.4rem;
  height: 184.8rem;
  position: relative;
  background-size: 100.038% 101.353%;
  background-position: -0.012rem 0;
  background-image: url("REPLACE_IMAGE:eff2265ee3cd81bf6f2dd6a8a5f3fc80297bb49e");
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 3rem;
}

.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .web-mAQ .group-23-cRv {
  height: 184.8rem;
  position: relative;
  background-size: 116.822% 101.443%;
  background-position: -1.4rem -1.3829rem;
  background-image: url("REPLACE_IMAGE:566cd5198ecb0ed077518af773d080698defe5e0");
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 62.1rem;
}

.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .tab-WnC {
  margin-left: 0.2rem;
  width: calc(100% - 0.2rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .tab-WnC .smartmockupslepdjru8-ff6 {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0rem 1.8rem 0.014rem 0rem;
  width: 56.9rem;
  height: 81.2857rem;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
}

.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .tab-WnC .item-389087481594-1-PLC {
  background-image: url("REPLACE_IMAGE:0fd48022c91bcfd00182877366982308a6f0943c");
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 69.6rem;
  height: 81.3rem;
  position: relative;
  background-size: 142.819% 100.685%;
  background-position: -24.9021rem 0rem;
}

.all-designs-5ZA .main-R7E .designs-4BS {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 10.3rem;
}

.all-designs-5ZA .main-R7E .designs-4BS .auto-group-psty-oep {
  padding: 96.8rem 62.776rem 12.218rem 81.183rem;
  width: 100%;
  height: 138.3531rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 5.8469rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.all-designs-5ZA .main-R7E .designs-4BS .auto-group-psty-oep .pngwing-iWt {
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
  width: 43.6938rem;
  height: 42.8235rem;
  position: absolute;
  left: 117.8rem;
  top: 437.8rem;
}

.all-designs-5ZA .main-R7E .designs-4BS .auto-group-psty-oep .item-23126615205-1-Sxg {
  position: absolute;
  left: 82.7rem;
  top: 342.9rem;
  -o-object-fit: contain;
     object-fit: contain;
  vertical-align: top;
  width: 48.4rem;
  height: 33.6rem;
}

.all-designs-5ZA .main-R7E .designs-4BS .auto-group-psty-oep .untitled-1gfh-ANt {
  height: 54.4rem;
  position: absolute;
  left: 82.8rem;
  top: 391.2rem;
  -o-object-fit: contain;
     object-fit: contain;
  vertical-align: top;
  width: 75.6rem;
}

.all-designs-5ZA .main-R7E .designs-4BS .auto-group-psty-oep .group-6-1-JV6 {
  position: absolute;
  left: -8.4829rem;
  top: 405.3635rem;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
  width: 90.1793rem;
  height: 75.8896rem;
}

.all-designs-5ZA .main-R7E .designs-4BS .auto-group-psty-oep .tabletandlaptopontransparentbackground-dGU {
  position: absolute;
  left: 11.3rem;
  top: 351.1rem;
  -o-object-fit: contain;
     object-fit: contain;
  vertical-align: top;
  width: 86.5rem;
  height: 46rem;
}

.all-designs-5ZA .main-R7E .designs-4BS .auto-group-psty-oep .pngwing-1-x3r {
  width: 23.2rem;
  height: 25.6rem;
  position: absolute;
  left: 135.2rem;
  top: 365.6rem;
  -o-object-fit: contain;
     object-fit: contain;
  vertical-align: top;
}

.all-designs-5ZA .main-R7E .designs-4BS .auto-group-psty-oep .pngwing-tTJ {
  background-position: 0 -1.0585rem;
  background-image: url("REPLACE_IMAGE:cbc235d1d71b08694e2fce2a7c9fdb6b6c70c686");
  width: 20.9rem;
  height: 17.7rem;
  position: relative;
  left: 4.1rem;
  top: 400.4rem;
  background-size: 100% 131.063%;
}

.all-designs-5ZA .main-R7E .designs-4BS .auto-group-psty-oep .pngwing-2-zmE {
  width: 26.0183rem;
  height: 29.335rem;
  position: relative;
  background-size: 169.954% 100%;
  background-position: -9.327rem -0rem;
  background-image: url("REPLACE_IMAGE:74130859d5097b1061ffe4b9035a3f279ffb0577");
}

.all-designs-5ZA .main-R7E .designs-4BS .auto-group-psty-oep .pngwing-3-KYc {
  width: 22.0962rem;
  height: 22.2572rem;
  position: absolute;
  left: 75.1rem;
  top: 409.3rem;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
}

.all-designs-5ZA .main-R7E .designs-4BS .group-1000004389-FhA {
  width: calc(100% - 18.7767rem);
  height: 74.6rem;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0rem 10.294rem 0rem 8.483rem;
}

.all-designs-5ZA .main-R7E .designs-4BS .group-1000004389-FhA .gggggg-1-ydA {
  width: 88.8rem;
  height: 64.3rem;
  position: relative;
  left: 0;
  top: 10.3rem;
  background-size: 100.092% 100.467%;
  background-position: -0.041rem 0;
  background-image: url("REPLACE_IMAGE:7d3743ad0c4630782592a8ae1d9bc7ebddc5566e");
}

.all-designs-5ZA .main-R7E .designs-4BS .group-1000004389-FhA .rectangle-2779-Hdr {
  left: 77.7rem;
  top: 10.3rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(11.77%, #f9f9f9), color-stop(38.85%, #e4e4e4), color-stop(58.65%, #d1d1d1), color-stop(67.5%, #c1c1c1), to(#aaaaaa));
  background: linear-gradient(180deg, #ffffff 0%, #f9f9f9 11.77%, #e4e4e4 38.85%, #d1d1d1 58.65%, #c1c1c1 67.5%, #aaaaaa 100%);
  width: 73.5rem;
  height: 64.3rem;
  position: absolute;
}

.all-designs-5ZA .main-R7E .designs-4BS .group-1000004389-FhA .group-1000004388-NvC {
  top: 0;
  -o-object-fit: contain;
     object-fit: contain;
  vertical-align: top;
  width: 63.8538rem;
  height: 74.1339rem;
  position: absolute;
  left: 82.5rem;
}

.all-designs-5ZA .main-R7E .more-work-KKe {
  margin: 0 11.6rem;
  width: calc(100% - 23.2rem);
  row-gap: 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.all-designs-5ZA .main-R7E .more-work-KKe .more-work-raU {
  font-size: 5.5rem;
  font-weight: 500;
  text-transform: capitalize;
  color: #000000;
  white-space: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
  font-family: Public Sans, 'Source Sans Pro';
}

.all-designs-5ZA .main-R7E .more-work-KKe .a-PKW {
  height: 41.2984rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 2.1rem;
  width: 100%;
}

.all-designs-5ZA .main-R7E .more-work-KKe .a-PKW .div-8Xz {
  position: relative;
  background-color: #f0f0f0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 7rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5rem 7.261rem 0rem 7.259rem;
  height: 100%;
  overflow: hidden;
}

.all-designs-5ZA .main-R7E .more-work-KKe .a-PKW .div-8Xz .b931bfd0a706776aa0060eportfilio201-min-p-800jpg-TqA {
  width: 58.0797rem;
  height: 36.2984rem;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
}

.all-designs-5ZA .main-R7E .more-work-KKe .a-PKW .frame-1410114916-aet {
  margin: 9.2rem 0rem 12.398rem 0rem;
  height: calc(100% - 21.5984rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.all-designs-5ZA .main-R7E .more-work-KKe .a-PKW .frame-1410114916-aet .frame-1410114915-ux4 {
  margin-bottom: 4.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.all-designs-5ZA .main-R7E .more-work-KKe .a-PKW .frame-1410114916-aet .frame-1410114915-ux4 .panoram-cgi-fwE {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.375;
  font-family: Public Sans, 'Source Sans Pro';
  white-space: nowrap;
  margin-bottom: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.all-designs-5ZA .main-R7E .more-work-KKe .a-PKW .frame-1410114916-aet .frame-1410114915-ux4 .software-design-product-design-c5n {
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 300;
  line-height: 1.35;
  text-transform: uppercase;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 2rem;
  letter-spacing: 0.06rem;
  font-family: Public Sans, 'Source Sans Pro';
  white-space: nowrap;
}

.all-designs-5ZA .main-R7E .more-work-KKe .a-PKW .frame-1410114916-aet .panoram-cgi-is-a-boutique-visualization-studio-specializing-in-3d-renderings-and-animations-for-luxury-brands-in-architecture-interiors-and-golf-course-sectors-jAQ {
  font-family: Public Sans, 'Source Sans Pro';
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 46.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.3888888889;
  color: #000000;
}

.all-designs-5ZA .main-R7E .more-work-KKe .a-zc8 {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 41.2984rem;
}

.all-designs-5ZA .main-R7E .more-work-KKe .a-zc8 .frame-1410114918-wGU {
  height: calc(100% - 24.3984rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 10.602rem 11.5rem 13.797rem 0rem;
}

.all-designs-5ZA .main-R7E .more-work-KKe .a-zc8 .frame-1410114918-wGU .frame-1410114917-46C {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 4.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.all-designs-5ZA .main-R7E .more-work-KKe .a-zc8 .frame-1410114918-wGU .frame-1410114917-46C .epacts-c7i {
  line-height: 1.375;
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
  white-space: nowrap;
  margin-bottom: 0.9rem;
  font-size: 3.2rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
}

.all-designs-5ZA .main-R7E .more-work-KKe .a-zc8 .frame-1410114918-wGU .frame-1410114917-46C .website-design-kDv {
  line-height: 1.2;
  text-transform: uppercase;
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
  white-space: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.3rem;
}

.all-designs-5ZA .main-R7E .more-work-KKe .a-zc8 .frame-1410114918-wGU .e-pacts-provides-enterprise-class-it-security-services-for-consultancy-sustenance-and-implementation-5GC {
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 43.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.3888888889;
}

.all-designs-5ZA .main-R7E .more-work-KKe .a-zc8 .div-P1z {
  position: relative;
  background-color: #f0f0f0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5.302rem 7.5rem 0rem 7.5rem;
  height: 100%;
  overflow: hidden;
}

.all-designs-5ZA .main-R7E .more-work-KKe .a-zc8 .div-P1z .b932b7d45a7a1ed097fe76portfolio204-min-p-800jpg-vnc {
  position: relative;
  background-size: 101.299% 100.829%;
  background-position: -0.3748rem -0.3016rem;
  background-image: url("REPLACE_IMAGE:a6ea490fc24b7b01473093eeea9691b20408decb");
  width: 57.6rem;
  height: 36rem;
}

.all-designs-5ZA .frame-10000049502-2-oLc {
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
  width: 18.5rem;
  height: 3.8rem;
  cursor: pointer;
  position: absolute;
  left: 11.6rem;
  top: 2.7rem;
}
/*# sourceMappingURL=all-designs.css.map */