@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@800&display=swap");
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

input {
  border: none;
}

body {
  width: 151.2rem;
}

.epacts-UxG {
  height: 494.3rem;
  background-color: #ffffff;
  width: 100%;
}

.epacts-UxG .div-1xC {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2.6rem 0rem 7.503rem 0rem;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.epacts-UxG .div-1xC .frame-10000049502-2-k96 {
  height: 3.8rem;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0rem 0rem 6.4rem 11.6rem;
  width: 18.5rem;
}

.epacts-UxG .div-1xC .main-eEU {
  position: relative;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 473.9969rem;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 128rem;
  height: 473.9969rem;
  position: absolute;
  left: 11.6rem;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .info-KbW {
  width: 100%;
  height: 34rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .info-KbW .divw-node-c8a9b103-5d43-ce87-7831-12c439ab055f-1ddfd172-gS4 {
  margin-right: 41.8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 0.95rem;
  width: 28.2rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .info-KbW .divw-node-c8a9b103-5d43-ce87-7831-12c439ab055f-1ddfd172-gS4 .div-C9W {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1;
  height: 7.4rem;
  overflow: hidden;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0rem 0rem 4.25rem 0.023rem;
  font-weight: 500;
  color: #000000;
  white-space: nowrap;
  font-size: 7.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Public Sans, 'Source Sans Pro';
  width: 26.4rem;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .info-KbW .divw-node-c8a9b103-5d43-ce87-7831-12c439ab055f-1ddfd172-gS4 .a-3vp {
  height: 3rem;
  overflow: hidden;
  position: relative;
  width: 23rem;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .info-KbW .divw-node-c8a9b103-5d43-ce87-7831-12c439ab055f-1ddfd172-gS4 .a-3vp .view-website-16x {
  font-family: Public Sans, 'Source Sans Pro';
  white-space: nowrap;
  margin-bottom: 0.4797rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 300;
  line-height: 1.3888888889;
  cursor: pointer;
  font-size: 1.8rem;
  color: #000000;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .info-KbW .divw-node-c8a9b103-5d43-ce87-7831-12c439ab055f-1ddfd172-gS4 .a-3vp .div-j2x {
  margin-left: 0.023rem;
  width: calc(100% - 0.023rem);
  height: 0.1rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .info-KbW .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-45E {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 58rem;
  height: 100%;
  row-gap: 4.2rem;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .info-KbW .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-45E .div-mkL {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .info-KbW .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-45E .div-mkL .auto-group-bxgu-8at {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 0.9rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .info-KbW .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-45E .div-mkL .auto-group-bxgu-8at .year-Gh6 {
  line-height: 1.375;
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
  white-space: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 0.9rem;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.4rem;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .info-KbW .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-45E .div-mkL .auto-group-bxgu-8at .item-2022-oS8 {
  font-weight: 300;
  line-height: 1.3888888889;
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
  white-space: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8rem;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .info-KbW .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-45E .div-mkL .div-LBA {
  width: 100%;
  height: 0.1rem;
  background-color: rgba(0, 0, 0, 0.3);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .info-KbW .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-45E .div-5uS {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .info-KbW .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-45E .div-5uS .auto-group-drck-Sjz {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 0.9rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .info-KbW .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-45E .div-5uS .auto-group-drck-Sjz .services-bct {
  margin-bottom: 0.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.375;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
  white-space: nowrap;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .info-KbW .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-45E .div-5uS .auto-group-drck-Sjz .website-design-development-vv4 {
  white-space: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.3888888889;
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .info-KbW .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-45E .div-5uS .div-T9J {
  width: 100%;
  height: 0.1rem;
  background-color: rgba(0, 0, 0, 0.3);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .info-KbW .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-45E .div-Csa {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .info-KbW .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-45E .div-Csa .auto-group-dj7e-mvg {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 0.9rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .info-KbW .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-45E .div-Csa .auto-group-dj7e-mvg .intro-jMi {
  margin-bottom: 0.9rem;
  font-weight: 400;
  white-space: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.4rem;
  line-height: 1.375;
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .info-KbW .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-45E .div-Csa .auto-group-dj7e-mvg .e-pacts-provides-enterprise-class-it-security-services-for-consultancy-sustenance-and-implementation-sTv {
  max-width: 46.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.3888888889;
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .info-KbW .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-45E .div-Csa .div-wig {
  background-color: rgba(0, 0, 0, 0.3);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 0.1rem;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .auto-group-tq3s-t88 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 113.45rem 0rem 17.5rem 0rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .auto-group-tq3s-t88 .frame-134-DRJ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0rem 2rem 18.25rem 0rem;
  width: calc(100% - 2rem);
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .auto-group-tq3s-t88 .frame-134-DRJ .about-MXW {
  font-family: Public Sans, 'Source Sans Pro';
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-weight: 500;
  line-height: 1.3818181818;
  color: #000000;
  white-space: nowrap;
  margin-right: 39.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 5.5rem;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .auto-group-tq3s-t88 .frame-134-DRJ .epacts-offers-a-comprehensive-range-of-cloud-services-and-technology-solutions-built-to-solve-real-world-problems-for-businesses-spanning-different-sizes-industries-and-geographies-epacts-consultancy-and-tech-services-llp-is-an-emerging-multi-cloud-managed-services-provider-for-worlds-leading-brands-including-aws-azure-google-and-more-epacts-comprises-of-highly-qualified-and-experienced-professionals-all-geared-up-to-support-cloud-security-technologies-Us2 {
  line-height: 1.3888888889;
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 70.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .auto-group-tq3s-t88 .frame-134-DRJ .epacts-offers-a-comprehensive-range-of-cloud-services-and-technology-solutions-built-to-solve-real-world-problems-for-businesses-spanning-different-sizes-industries-and-geographies-epacts-consultancy-and-tech-services-llp-is-an-emerging-multi-cloud-managed-services-provider-for-worlds-leading-brands-including-aws-azure-google-and-more-epacts-comprises-of-highly-qualified-and-experienced-professionals-all-geared-up-to-support-cloud-security-technologies-Us2 .epacts-offers-a-comprehensive-range-of-cloud-services-and-technology-solutions-built-to-solve-real-world-problems-for-businesses-spanning-different-sizes-industries-and-geographies-epacts-consultancy-and-tech-services-llp-is-an-emerging-multi-cloud-managed-services-provider-for-worlds-leading-brands-including-aws-azure-google-and-more-epacts-comprises-of-highly-qualified-and-experienced-professionals-all-geared-up-to-support-cloud-security-technologies-Us2-sub-0 {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.3888888889;
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .auto-group-tq3s-t88 .frame-134-DRJ .epacts-offers-a-comprehensive-range-of-cloud-services-and-technology-solutions-built-to-solve-real-world-problems-for-businesses-spanning-different-sizes-industries-and-geographies-epacts-consultancy-and-tech-services-llp-is-an-emerging-multi-cloud-managed-services-provider-for-worlds-leading-brands-including-aws-azure-google-and-more-epacts-comprises-of-highly-qualified-and-experienced-professionals-all-geared-up-to-support-cloud-security-technologies-Us2 .epacts-offers-a-comprehensive-range-of-cloud-services-and-technology-solutions-built-to-solve-real-world-problems-for-businesses-spanning-different-sizes-industries-and-geographies-epacts-consultancy-and-tech-services-llp-is-an-emerging-multi-cloud-managed-services-provider-for-worlds-leading-brands-including-aws-azure-google-and-more-epacts-comprises-of-highly-qualified-and-experienced-professionals-all-geared-up-to-support-cloud-security-technologies-Us2-sub-1 {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.3888888889;
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .auto-group-tq3s-t88 .frame-134-DRJ .epacts-offers-a-comprehensive-range-of-cloud-services-and-technology-solutions-built-to-solve-real-world-problems-for-businesses-spanning-different-sizes-industries-and-geographies-epacts-consultancy-and-tech-services-llp-is-an-emerging-multi-cloud-managed-services-provider-for-worlds-leading-brands-including-aws-azure-google-and-more-epacts-comprises-of-highly-qualified-and-experienced-professionals-all-geared-up-to-support-cloud-security-technologies-Us2 .epacts-offers-a-comprehensive-range-of-cloud-services-and-technology-solutions-built-to-solve-real-world-problems-for-businesses-spanning-different-sizes-industries-and-geographies-epacts-consultancy-and-tech-services-llp-is-an-emerging-multi-cloud-managed-services-provider-for-worlds-leading-brands-including-aws-azure-google-and-more-epacts-comprises-of-highly-qualified-and-experienced-professionals-all-geared-up-to-support-cloud-security-technologies-Us2-sub-2 {
  font-weight: 300;
  line-height: 1.3888888889;
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
  font-size: 1.8rem;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .auto-group-tq3s-t88 .display-3UC {
  margin: 0rem 0.15rem 17.5rem 0.15rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1.8391rem 21.5621rem;
  height: 77.8rem;
  background-position: -0.0383rem -10.7721rem;
  background-image: url("REPLACE_IMAGE:04c755b80598599eac070db024e30b463e4210ee");
  width: calc(100% - 0.3rem);
  background-size: 100.018% 113.892%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .auto-group-tq3s-t88 .display-3UC .rectangle-2714-x5N {
  width: 12.9216rem;
  height: 55.3955rem;
  -webkit-filter: blur(1.95rem);
          filter: blur(1.95rem);
  background: linear-gradient(179.92deg, rgba(8, 8, 10, 0.2) 9.94%, rgba(8, 8, 10, 0) 97.35%);
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .auto-group-tq3s-t88 .display-3UC .display-3UC-bg {
  position: relative;
  background-image: url("REPLACE_IMAGE:04c755b80598599eac070db024e30b463e4210ee");
  width: 127.7rem;
  height: 77.8rem;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .auto-group-tq3s-t88 .swto-kmv {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 0.1rem;
  width: calc(100% - 0.2rem);
  height: 74.3rem;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .auto-group-tq3s-t88 .swto-kmv .olbkx61-1-6qn {
  width: 127.8rem;
  height: 74.3rem;
  position: absolute;
  left: 0;
  top: 0;
  -o-object-fit: contain;
     object-fit: contain;
  vertical-align: top;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .auto-group-tq3s-t88 .swto-kmv .strengths-usability-eMW {
  position: absolute;
  left: 36.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
  width: 55.3rem;
  height: 7.6rem;
  top: 1.9rem;
  font-size: 5.5rem;
  line-height: 1.3818181818;
  white-space: nowrap;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .more-work-Xw6 {
  width: 100%;
  row-gap: 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .more-work-Xw6 .more-work-VN8 {
  font-size: 5.5rem;
  font-weight: 500;
  line-height: 1.3818181818;
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
  white-space: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .more-work-Xw6 .a-SHN {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 2.1rem;
  width: 100%;
  height: 41.2984rem;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .more-work-Xw6 .a-SHN .div-auN {
  overflow: hidden;
  position: relative;
  background-color: #f0f0f0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 7rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5rem 7.261rem 0rem 7.259rem;
  height: 100%;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .more-work-Xw6 .a-SHN .div-auN .b931bfd0a706776aa0060eportfilio201-min-p-800jpg-WY8 {
  height: 36.2984rem;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
  width: 58.0797rem;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .more-work-Xw6 .a-SHN .frame-1410114916-RQC {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 9.2rem 0rem 12.398rem 0rem;
  height: calc(100% - 21.5984rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .more-work-Xw6 .a-SHN .frame-1410114916-RQC .frame-1410114915-khN {
  margin-bottom: 4.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .more-work-Xw6 .a-SHN .frame-1410114916-RQC .frame-1410114915-khN .panoram-cgi-uqA {
  font-weight: 500;
  line-height: 1.375;
  color: #000000;
  white-space: nowrap;
  margin-bottom: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3.2rem;
  font-family: Public Sans, 'Source Sans Pro';
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .more-work-Xw6 .a-SHN .frame-1410114916-RQC .frame-1410114915-khN .software-design-product-design-FPE {
  line-height: 1.35;
  letter-spacing: 0.06rem;
  font-family: Public Sans, 'Source Sans Pro';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #000000;
  white-space: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .more-work-Xw6 .a-SHN .frame-1410114916-RQC .panoram-cgi-is-a-boutique-visualization-studio-specializing-in-3d-renderings-and-animations-for-luxury-brands-in-architecture-interiors-and-golf-course-sectors-mMa {
  font-weight: 300;
  line-height: 1.3888888889;
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 46.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8rem;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .more-work-Xw6 .a-Rwv {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 2.2rem;
  width: 100%;
  height: 41.2984rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .more-work-Xw6 .a-Rwv .div-BgC {
  overflow: hidden;
  position: relative;
  background-color: #f0f0f0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 7rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5.003rem 7.4rem 0rem 7.3rem;
  height: 100%;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .more-work-Xw6 .a-Rwv .div-BgC .b932267ee4c7e299e0ef61portfolio202-min-p-800jpg-KnQ {
  width: 57.9rem;
  height: 36.3rem;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .more-work-Xw6 .a-Rwv .frame-1410114920-3iQ {
  height: calc(100% - 19.3984rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 9.303rem 0rem 10.095rem 0rem;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .more-work-Xw6 .a-Rwv .frame-1410114920-3iQ .frame-1410114919-BJp {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 4.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .more-work-Xw6 .a-Rwv .frame-1410114920-3iQ .frame-1410114919-BJp .redesign-jr8 {
  line-height: 1.375;
  margin-bottom: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
  white-space: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 3.2rem;
  font-weight: 500;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .more-work-Xw6 .a-Rwv .frame-1410114920-3iQ .frame-1410114919-BJp .ui-redesign-ey6 {
  text-transform: uppercase;
  font-family: Public Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.3rem;
  color: #000000;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.epacts-UxG .div-1xC .main-eEU .frame-124-nrU .more-work-Xw6 .a-Rwv .frame-1410114920-3iQ .redesigned-software-websites-and-apps-of-some-of-the-most-liked-intuitive-products-in-the-market-note-these-designs-are-non-functional-and-do-not-belong-to-the-respective-brands-ykU {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.3888888889;
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 46.2rem;
}

.epacts-UxG .div-1xC .main-eEU .frame-284-d4L {
  width: 151.2rem;
  height: 64.6rem;
  position: absolute;
  left: 0;
  top: 57rem;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(200, 98, 193, 0.6)), to(rgba(57, 108, 170, 0.6)));
  background: linear-gradient(180deg, rgba(200, 98, 193, 0.6) 0%, rgba(57, 108, 170, 0.6) 100%);
}

.epacts-UxG .div-1xC .main-eEU .frame-284-d4L .frame-284-1-xsJ {
  width: 151.2rem;
  height: 64.6rem;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
}

:root {
  --font-size: 0.8em;
  --bg1: #f5f8f7;
  --blue: #3498db;
  --green: #2ecc71;
  --purple: #9b59b6;
  --gold: #f1c40f;
  --red: #e74c3c;
  --orange: #e67e22;
  --shadow1: 0 2px 4px #00000026, 0 3px 6px #0000001f;
  --shadow2: 0 2px 6px #00000044, 0 4px 7px #00000022;
}

main {
  padding: 2vw;
}

ul.infoGraphic {
  font-size: var(--font-size);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul.infoGraphic li {
  position: relative;
  width: 100%;
  max-width: 25em;
  background: var(--bg1);
  border-radius: 0.5em;
  padding: 0.5em;
  z-index: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

ul.infoGraphic li .numberWrap {
  position: absolute;
}

ul.infoGraphic li .number {
  font-family: "maven pro", sans-serif;
  font-size: 13em;
  font-weight: 900;
  width: 0.9em;
  text-align: center;
}

ul.infoGraphic li .number.fontColor1 {
  color: var(--blue);
}

ul.infoGraphic li .number.fontColor2 {
  color: var(--green);
}

ul.infoGraphic li .number.fontColor3 {
  color: var(--purple);
}

ul.infoGraphic li .number.fontColor4 {
  color: var(--gold);
}

ul.infoGraphic li .number.fontColor5 {
  color: var(--red);
}

ul.infoGraphic li .number.fontColor6 {
  color: var(--orange);
}

ul.infoGraphic li .coverWrap {
  -webkit-transform: rotate(130deg);
          transform: rotate(130deg);
  position: absolute;
  width: 18em;
  height: 15em;
  left: -3em;
  top: -1em;
}

ul.infoGraphic li .coverWrap .numberCover {
  position: absolute;
  background: var(--bg1);
  width: 18em;
  height: 6em;
  border-radius: 50% 50% 0 0;
  border-bottom: 3px solid #f5f8f7;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

ul.infoGraphic li .coverWrap .numberCover::before {
  position: absolute;
  content: "";
  bottom: 5px;
  left: 4em;
  right: 4em;
  top: 5em;
  -webkit-box-shadow: 0 0 30px 17px #48668577;
          box-shadow: 0 0 30px 17px #48668577;
  border-radius: 100px / 10px;
  z-index: -1;
}

ul.infoGraphic li .coverWrap .numberCover::after {
  position: absolute;
  bottom: 0;
  content: "";
  left: -10%;
  width: 120%;
  height: 150%;
  background: radial-gradient(at bottom, #48668533, transparent, transparent);
  z-index: 1;
}

ul.infoGraphic li .content {
  margin: 8em 3em 1em 7em;
  position: relative;
}

ul.infoGraphic li .content h2 {
  font-size: 1.7em;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}

ul.infoGraphic li .content p {
  line-height: 1.5em;
}

ul.infoGraphic li:hover .coverWrap .numberCover {
  border-radius: 100%;
}

.icon {
  position: absolute;
  font-size: 2rem;
  text-align: center;
  top: -1.3em;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
}

.icon:before {
  color: #666;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.iconCodepen:before {
  content: "\f1cb";
}

.iconSocial:before {
  content: "\f08a";
}

.iconAirplane:before {
  content: "\f1d9";
}

.iconMap:before {
  content: "\f278";
}

.iconBulb:before {
  content: "\f0eb";
}

.iconPeace:before {
  content: "\f25b";
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--bg1);
  min-height: 100vh;
  color: #444;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 3rem 1rem 10em;
}

.controls {
  position: fixed;
  z-index: 2;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #d7d7d7a1;
  padding: .5rem 2em;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border: 1px solid #0000004d;
}

.sliderBox {
  text-align: center;
}

.sliderBox .range-value {
  font-weight: 500;
  font-size: 22px;
}

input[type="range"] {
  width: 100%;
  margin: 1em 0;
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #00000066;
  border: 0;
  border-radius: 1.3px;
  width: 100%;
  height: 2px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  margin-top: -10px;
  width: 20px;
  height: 20px;
  background: #eee;
  -webkit-box-shadow: inset 0px 1px 1px #ffffff66, 0px 1px 3px black;
          box-shadow: inset 0px 1px 1px #ffffff66, 0px 1px 3px black;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #eee;
}

input[type="range"]::-moz-range-track {
  background: #000;
  border: 0;
  border-radius: 1.3px;
  width: 100%;
  height: 1px;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #151728;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 13px 0;
  color: transparent;
  width: 100%;
  height: 1px;
  cursor: pointer;
}

input[type="range"]::-ms-fill-lower {
  background: #151728;
  border: 0;
  border-radius: 2.6px;
}

input[type="range"]::-ms-fill-upper {
  background: #151728;
  border: 0;
  border-radius: 2.6px;
}

input[type="range"]::-ms-thumb {
  width: 25px;
  height: 25px;
  background: #151728;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}

input[type="range"]:focus::-ms-fill-lower {
  background: #ffffff;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #ffffff;
}
/*# sourceMappingURL=epacts.css.map */