
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.panoram-xwz {
  width: 100%;
  height: 686.9rem;
  background-color: #ffffff;

  .div-HzG {
    width: 100%;
    height: 686.8rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2.6rem 0rem 7.703rem 0rem;

    .frame-10000049502-2-Qoz {
      width: 18.5rem;
      height: 3.8rem;
      cursor: pointer;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0rem 6.4rem 11.6rem;
    }
    .main-KRA {
      position: relative;
      flex-shrink: 0;
      width: 100%;
      height: 666.2969rem;
      overflow: hidden;

      .frame-1000004894-5QL {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .intro-2Ka {
          height: 36.7rem;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          margin: 0rem 11.6rem 20.3rem 11.6rem;
          width: calc(100% - 23.2rem);

          .divw-node-c8a9b103-5d43-ce87-7831-12c439ab055f-1ddfd172-wxL {
            width: 50rem;
            flex-shrink: 0;
            margin-right: 20rem;
            box-sizing: border-box;
            padding-top: 0.95rem;

            .div-41N {
              line-height: 1;
              font-family: Public Sans, 'Source Sans Pro';
              justify-content: center;
              overflow: hidden;
              font-size: 7.4rem;
              font-weight: 500;
              align-items: center;
              margin-bottom: 4.2094rem;
              width: 45.3rem;
              height: 7.4rem;
              position: relative;
              display: flex;
              color: #000000;
              white-space: nowrap;
            }
            .a-ibi {
              overflow: hidden;
              position: relative;
              width: 22.9859rem;

              .view-website-GNL {
                display: flex;
                line-height: 1.3888888889;
                font-family: Public Sans, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 0.4703rem;
                cursor: pointer;
                font-size: 1.8rem;
                font-weight: 300;
                color: #000000;
              }
              .div-BEQ {
                width: 100%;
                height: 0.1rem;
                background-color: rgba(0, 0, 0, 0.3000000119);
              }
            }
          }
          .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-89e {
            flex-shrink: 0;
            width: 58rem;
            height: 100%;
            row-gap: 4.2rem;
            align-items: center;
            display: flex;
            flex-direction: column;

            .div-EiU {
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              width: 100%;

              .auto-group-ondn-Bdi {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                box-sizing: border-box;
                padding-bottom: 0.9rem;
                width: 100%;

                .year-Xha {
                  font-weight: 400;
                  line-height: 1.375;
                  color: #000000;
                  font-family: Public Sans, 'Source Sans Pro';
                  margin-bottom: 0.9rem;
                  display: flex;
                  font-size: 2.4rem;
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .item-2023-Fda {
                  display: flex;
                  font-size: 1.8rem;
                  font-weight: 300;
                  line-height: 1.3888888889;
                  color: #000000;
                  font-family: Public Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .div-BXE {
                width: 100%;
                height: 0.1rem;
                background-color: rgba(0, 0, 0, 0.3000000119);
                flex-shrink: 0;
              }
            }
            .div-Y6t {
              width: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .auto-group-ku6c-uCL {
                flex-shrink: 0;
                box-sizing: border-box;
                padding-bottom: 0.9594rem;
                width: 100%;
                display: flex;
                flex-direction: column;

                .services-45E {
                  white-space: nowrap;
                  margin-bottom: 1.0406rem;
                  font-size: 2.4rem;
                  font-weight: 400;
                  font-family: Public Sans, 'Source Sans Pro';
                  display: flex;
                  line-height: 1.375;
                  color: #000000;
                  flex-shrink: 0;
                }
                .software-design-development-BvY {
                  display: flex;
                  font-size: 1.8rem;
                  font-weight: 300;
                  line-height: 1.3888888889;
                  white-space: nowrap;
                  color: #000000;
                  font-family: Public Sans, 'Source Sans Pro';
                  align-items: baseline;
                  flex-shrink: 0;

                  .software-design-development-BvY-sub-0 {
                    font-size: 1.8rem;
                    font-weight: 300;
                    line-height: 1.3888888889;
                    color: #000000;
                    font-family: Public Sans, 'Source Sans Pro';
                  }
                  .software-design-development-BvY-sub-1 {
                    font-size: 1.8rem;
                    font-weight: 300;
                    line-height: 1.3888888889;
                    color: #000000;
                    font-family: Public Sans, 'Source Sans Pro';
                  }
                }
              }
              .div-PQL {
                width: 100%;
                height: 0.1rem;
                background-color: rgba(0, 0, 0, 0.3000000119);
                flex-shrink: 0;
              }
            }
            .div-YY8 {
              width: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .auto-group-f8gx-7bE {
                box-sizing: border-box;
                padding-bottom: 0.9rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .intro-fMr {
                  flex-shrink: 0;
                  margin-bottom: 0.9rem;
                  display: flex;
                  white-space: nowrap;
                  color: #000000;
                  font-family: Public Sans, 'Source Sans Pro';
                  font-size: 2.4rem;
                  font-weight: 400;
                  line-height: 1.375;
                }
                .panoram-cgi-is-a-boutique-visualization-studio-specializing-in-3d-renderings-and-animations-for-luxury-brands-in-architecture-interiors-and-golf-course-sectors-oDA {
                  max-width: 50.3rem;
                  display: flex;
                  font-size: 1.8rem;
                  font-weight: 300;
                  line-height: 1.3888888889;
                  color: #000000;
                  font-family: Public Sans, 'Source Sans Pro';
                  flex-shrink: 0;
                }
              }
              .div-FL4 {
                width: 100%;
                height: 0.1rem;
                background-color: rgba(0, 0, 0, 0.3000000119);
                flex-shrink: 0;
              }
            }
          }
        }
        .display-PhA {
          width: 100%;
          background: radial-gradient(50% 50% at 50% 50%, #626262 0%, #2a2a2a 100%);
          flex-shrink: 0;
          margin-bottom: 16.6734rem;
          box-sizing: border-box;
          padding: 4.261rem 11.5rem 4.039rem 11.5rem;

          .rm355-pf-s73-card-laptop-01-mockup-2-oeQ {
            background-size: 106.65% 111.73%;
            background-position: -0.1005rem -4.3302rem;
            background-image: url('REPLACE_IMAGE:0999a8b28f78088c8d432ae8f8ac214491ab2dfa');
            width: 128.2rem;
            height: 79.3rem;
            position: relative;
          }
        }
        .process-ppQ {
          margin-bottom: 16.4rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-xdtw-AdN {
            margin: 0rem 11.6rem 6.7rem 16.65rem;
            width: calc(100% - 28.25rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .process-VQk {
              flex-shrink: 0;
              display: flex;
              font-weight: 500;
              line-height: 1.3818181818;
              color: #000000;
              margin-right: 27.65rem;
              font-size: 5.5rem;
              font-family: Public Sans, 'Source Sans Pro';
              white-space: nowrap;
            }
            .frame-1000004895-Qnc {
              margin-top: 1.0266rem;
              width: 74.7rem;
              flex-shrink: 0;

              .auto-group-aqdz-wXe {
                box-sizing: border-box;
                padding-bottom: 2.7rem;
                width: 100%;
                display: flex;
                flex-direction: column;

                .context-5dr {
                  color: #000000;
                  flex-shrink: 0;
                  margin-bottom: 3.95rem;
                  display: flex;
                  font-size: 3.2rem;
                  font-weight: 500;
                  line-height: 1.375;
                  font-family: Public Sans, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .panoram-cgi-is-the-most-comprehensive-design-and-3d-rendering-services-provider-they-help-clients-in-building-their-dream-spaces-by-creating-photographic-quality-computer-generated-imagery-cgi-for-the-finest-spaces-from-initial-concept-to-final-design-bcC {
                  margin-bottom: 3.95rem;
                  display: flex;
                  font-size: 1.8rem;
                  line-height: 1.3888888889;
                  color: #000000;
                  font-family: Public Sans, 'Source Sans Pro';
                  max-width: 70.1rem;
                  font-weight: 300;
                  flex-shrink: 0;
                }
                .challenge-cXJ {
                  display: flex;
                  font-size: 3.2rem;
                  font-weight: 500;
                  font-family: Public Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-bottom: 3.75rem;
                  color: #000000;
                  flex-shrink: 0;
                  line-height: 1.375;
                }
                .create-a-platform-for-both-client-panoram-and-their-customers-where-they-can-initiate-interact-and-manage-projects-based-on-their-requirements-and-later-can-provide-essential-feedback-during-the-production-phase-understand-the-pain-points-and-necessary-communication-requirements-for-the-client-to-initiate-a-project-redesign-the-old-internal-accounting-managing-and-communicating-features-for-the-admin-and-production-team-MDz {
                  margin-bottom: 3.75rem;
                  max-width: 74.3rem;
                  font-weight: 300;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.8rem;
                  line-height: 1.3888888889;
                  color: #000000;
                  font-family: Public Sans, 'Source Sans Pro';
                }
                .problem-statement-uPv {
                  line-height: 1.375;
                  color: #000000;
                  font-family: Public Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 3.2rem;
                  font-weight: 500;
                }
              }
              .blockquote-dap {
                border: solid 0.5rem #000000;
                margin-bottom: 2.7rem;
                box-sizing: border-box;
                padding: 1.2rem 2.5rem;
                width: 100%;

                .how-might-we-create-a-digital-tool-that-allows-users-to-provide-real-time-feedback-on-ongoing-production-practices-yeg {
                  line-height: 1.3888888889;
                  color: #000000;
                  font-family: Public Sans, 'Source Sans Pro';
                  max-width: 59.6rem;
                  display: flex;
                  font-size: 1.8rem;
                  font-weight: 300;

                  .how-might-we-create-a-digital-tool-that-allows-users-to-provide-real-time-feedback-on-ongoing-production-practices-yeg-sub-0 {
                    font-size: 1.8rem;
                    font-weight: 300;
                    line-height: 1.3888888889;
                    color: #000000;
                    font-family: Public Sans, 'Source Sans Pro';
                  }
                  .how-might-we-create-a-digital-tool-that-allows-users-to-provide-real-time-feedback-on-ongoing-production-practices-yeg-sub-1 {
                    font-size: 1.8rem;
                    font-weight: 300;
                    line-height: 1.3888888889;
                    color: #000000;
                    font-family: Public Sans, 'Source Sans Pro';
                  }
                }
              }
              .research-Acg {
                font-weight: 500;
                line-height: 1.375;
                color: #000000;
                font-family: Public Sans, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 3.95rem;
                display: flex;
                font-size: 3.2rem;
              }
              .interacted-with-the-ceo-and-team-members-of-panoram-cgi-discussing-the-difficulties-and-pain-points-they-face-in-their-current-management-and-communication-tools-got-engaged-with-one-of-panorams-clients-and-observed-the-current-flow-of-initiating-a-project-and-followed-up-with-production-practices-started-ideating-the-follow-up-solutions-to-the-problem-faced-by-both-panoram-and-their-clients-analyzed-the-brainstormed-ideas-and-came-up-with-the-perfect-solution-for-integrating-the-real-time-commenting-and-feedback-feature-where-both-panorams-team-members-and-their-clients-can-upload-files-and-images-to-the-review-section-of-the-particular-project-and-can-leave-comments-on-the-issues-faced-at-the-time-of-implementation-Jit {
                max-width: 71.5rem;
                display: flex;
                font-size: 1.8rem;
                font-weight: 300;
                line-height: 1.3888888889;
                color: #000000;
                font-family: Public Sans, 'Source Sans Pro';
                margin-bottom: 3.95rem;
              }
              .wireframes-mkt {
                display: flex;
                font-size: 3.2rem;
                font-weight: 500;
                line-height: 1.375;
                color: #000000;
                font-family: Public Sans, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .frame-1410114913-WiU {
            height: 60rem;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;
            width: 100%;
          }
        }
        .result-rGY {
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .results-1QL {
            margin: 0rem 11.6rem 18.139rem 16.7rem;
            width: calc(100% - 28.3rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .result-jr8 {
              flex-shrink: 0;
              margin-right: 39.2rem;
              font-weight: 500;
              font-family: Public Sans, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              font-size: 5.5rem;
              line-height: 1.3818181818;
              color: #000000;
            }
            .auto-group-qdp4-U32 {
              margin-top: 1.0609rem;
              width: 67.1rem;
              flex-shrink: 0;

              .in-the-end-the-results-turned-out-to-be-pretty-satisfying-to-the-client-24Y {
                line-height: 1.3888888889;
                color: #000000;
                font-family: Public Sans, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 2.5rem;
                display: flex;
                font-size: 1.8rem;
                font-weight: 300;
              }
              .blockquote-jUk {
                box-sizing: border-box;
                padding: 1.2rem 2.5rem;
                width: 100%;
                height: 7.4rem;
                border: solid 0.5rem #000000;

                .later-my-team-and-i-conducted-a-usability-test-interview-and-involved-the-client-and-users-regarding-issues-or-changes-to-be-resolved-HFN {
                  font-weight: 300;
                  line-height: 1.3888888889;
                  color: #000000;
                  font-family: Public Sans, 'Source Sans Pro';
                  max-width: 57.1rem;
                  display: flex;
                  font-size: 1.8rem;
                }
              }
            }
          }
          .frame-1410114924-unY {
            width: 100%;
            height: 60rem;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;
          }
        }
        .auto-group-t4cg-rSt {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 17.5rem 11.6rem 0rem 11.6rem;
          width: 100%;
          align-items: center;

          .typo-and-colors-Ng8 {
            margin-bottom: 17.5rem;
            box-sizing: border-box;
            width: 100%;
            background-color: #ffffff;
            border-radius: 0.5rem;
            padding: 2.161rem 3.7rem 2.239rem 3.6rem;
            height: 80rem;
            border: solid 0.1rem #dedede;
            flex-shrink: 0;

            .group-1000004385-6c8 {
              flex-direction: column;
              width: 100%;
              height: 100%;
              display: flex;

              .auto-group-2kkq-3XN {
                margin-bottom: 6.2rem;
                width: 100%;
                height: 55.4rem;
                display: flex;
                align-items: flex-start;
                flex-shrink: 0;

                .frame-1000004943-zBi {
                  flex-shrink: 0;
                  margin-right: 33.7rem;
                  height: 100%;
                  display: flex;
                  flex-direction: column;

                  .typography-kAt {
                    color: #000000;
                    margin-bottom: 3rem;
                    font-size: 5.5rem;
                    font-weight: 500;
                    line-height: 1.3818181818;
                    display: flex;
                    font-family: Public Sans, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                  .frame-1000004942-sWQ {
                    width: 29.5rem;
                    flex-shrink: 0;

                    .auto-group-uq1a-R28 {
                      display: flex;
                      flex-direction: column;
                      box-sizing: border-box;
                      padding-bottom: 2.7rem;
                      width: 100%;
                      row-gap: 2.7rem;

                      .frame-1000004937-MAg {
                        flex-direction: column;
                        flex-shrink: 0;
                        display: flex;

                        .heading-1-uT6 {
                          flex-shrink: 0;
                          display: flex;
                          font-size: 3.2rem;
                          font-weight: 500;
                          line-height: 1.375;
                          color: #000000;
                          font-family: Public Sans, 'Source Sans Pro';
                          white-space: nowrap;
                        }
                        .gilroy-semi-bold-34-px-38-FWx {
                          display: flex;
                          font-size: 1.8rem;
                          font-weight: 300;
                          letter-spacing: 0.1rem;
                          font-family: Public Sans, 'Source Sans Pro';
                          flex-shrink: 0;
                          line-height: 1.3333333333;
                          color: #000000;
                          white-space: nowrap;
                        }
                      }
                      .frame-1000004938-mkC {
                        display: flex;
                        flex-direction: column;
                        flex-shrink: 0;

                        .heading-2-XUU {
                          font-weight: 500;
                          line-height: 1.5714285714;
                          color: #000000;
                          font-family: Public Sans, 'Source Sans Pro';
                          white-space: nowrap;
                          flex-shrink: 0;
                          display: flex;
                          font-size: 2.8rem;
                        }
                        .gilroy-semi-bold-28-px-32-fag {
                          line-height: 1.3333333333;
                          letter-spacing: 0.1rem;
                          color: #000000;
                          flex-shrink: 0;
                          display: flex;
                          font-size: 1.8rem;
                          font-weight: 300;
                          font-family: Public Sans, 'Source Sans Pro';
                          white-space: nowrap;
                        }
                      }
                      .frame-1000004939-zN4 {
                        display: flex;
                        flex-direction: column;
                        flex-shrink: 0;

                        .heading-3-kc8 {
                          display: flex;
                          font-size: 2.2rem;
                          font-weight: 500;
                          line-height: 2;
                          color: #000000;
                          font-family: Public Sans, 'Source Sans Pro';
                          white-space: nowrap;
                          flex-shrink: 0;
                        }
                        .gilroy-semi-bold-22-px-26-hXN {
                          flex-shrink: 0;
                          font-size: 1.8rem;
                          font-weight: 300;
                          font-family: Public Sans, 'Source Sans Pro';
                          color: #000000;
                          white-space: nowrap;
                          display: flex;
                          line-height: 1.3333333333;
                          letter-spacing: 0.1rem;
                        }
                      }
                    }
                    .frame-1000004941-q7n {
                      margin-bottom: 2.7rem;
                      width: 100%;
                      display: flex;
                      flex-direction: column;

                      .body-PQC {
                        font-weight: 500;
                        line-height: 2.4444444444;
                        color: #000000;
                        font-family: Public Sans, 'Source Sans Pro';
                        white-space: nowrap;
                        flex-shrink: 0;
                        display: flex;
                        font-size: 1.8rem;
                      }
                      .avenir-lt-pro-medium-18-px-24-wRi {
                        white-space: nowrap;
                        font-weight: 300;
                        letter-spacing: 0.1rem;
                        font-family: Public Sans, 'Source Sans Pro';
                        color: #000000;
                        flex-shrink: 0;
                        display: flex;
                        font-size: 1.8rem;
                        line-height: 1.3333333333;
                      }
                    }
                    .frame-1000004940-GTz {
                      display: flex;
                      flex-direction: column;

                      .labels-2xx {
                        font-weight: 500;
                        line-height: 2.75;
                        color: #000000;
                        font-family: Public Sans, 'Source Sans Pro';
                        white-space: nowrap;
                        flex-shrink: 0;
                        display: flex;
                        font-size: 1.6rem;
                      }
                      .gilroy-semi-bold-16-px-18-nBS {
                        flex-shrink: 0;
                        font-size: 1.8rem;
                        font-family: Public Sans, 'Source Sans Pro';
                        line-height: 1.3333333333;
                        letter-spacing: 0.1rem;
                        color: #000000;
                        white-space: nowrap;
                        display: flex;
                        font-weight: 300;
                      }
                    }
                  }
                }
                .frame-1000004944-6T2 {
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;
                  width: 56.6rem;
                  align-items: center;

                  .auto-group-3xo6-F52 {
                    padding-bottom: 3rem;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;
                    box-sizing: border-box;

                    .colors-CFA {
                      margin-bottom: 3rem;
                      display: flex;
                      line-height: 1.3818181818;
                      flex-shrink: 0;
                      font-size: 5.5rem;
                      font-weight: 500;
                      color: #000000;
                      font-family: Public Sans, 'Source Sans Pro';
                      white-space: nowrap;
                    }
                    .group-1000004382-8ec {
                      height: 13.3rem;
                      display: flex;
                      align-items: flex-start;
                      flex-shrink: 0;

                      .primary-5pk {
                        display: flex;
                        line-height: 1.375;
                        color: #000000;
                        font-family: Public Sans, 'Source Sans Pro';
                        margin: 2.2rem 9.1rem 0rem 0rem;
                        font-size: 2.4rem;
                        font-weight: 400;
                        white-space: nowrap;
                        flex-shrink: 0;
                      }
                      .auto-group-xdll-CeU {
                        flex-direction: column;
                        flex-shrink: 0;
                        height: 100%;
                        display: flex;

                        .rectangle-2718-AbJ {
                          width: 7.8rem;
                          height: 7.6rem;
                          background: linear-gradient(180deg, #00d4a8 0%, #048f72 100%);
                          flex-shrink: 0;
                          margin-bottom: 0.3rem;
                        }
                        .gradient-00d4a8-01d9ab-fnx {
                          max-width: 7.9rem;
                          letter-spacing: 0.1rem;
                          font-family: Public Sans, 'Source Sans Pro';
                          color: #000000;
                          flex-shrink: 0;
                          display: flex;
                          font-size: 1.6rem;
                          font-weight: 300;
                          line-height: 1.125;
                        }
                      }
                      .auto-group-iulx-nMn {
                        box-sizing: border-box;
                        padding-left: 2.4rem;
                        height: 100%;
                        display: flex;
                        align-items: flex-start;
                        flex-shrink: 0;

                        .auto-group-eyf6-jH2 {
                          flex-direction: column;
                          flex-shrink: 0;
                          margin-right: 2.5rem;
                          width: 7.8rem;
                          align-items: flex-end;
                          display: flex;

                          .rectangle-2718-C48 {
                            background-color: #01d9ab;
                            flex-shrink: 0;
                            margin-bottom: 0.3rem;
                            width: 100%;
                            height: 7.6rem;
                          }
                          .d9ab-jJx {
                            font-size: 1.6rem;
                            line-height: 1.125;
                            flex-shrink: 0;
                            display: flex;
                            font-weight: 300;
                            letter-spacing: 0.1rem;
                            color: #000000;
                            font-family: Public Sans, 'Source Sans Pro';
                            white-space: nowrap;
                          }
                        }
                        .auto-group-hjpn-reU {
                          align-items: flex-end;
                          display: flex;
                          flex-direction: column;
                          flex-shrink: 0;

                          .rectangle-2720-p5W {
                            border: solid 0.1rem #c2bebe;
                            box-sizing: border-box;
                            background-color: #ffffff;
                            flex-shrink: 0;
                            margin: 0rem 0.1rem 0.3rem 0rem;
                            width: 7.7rem;
                            height: 7.6rem;
                          }
                          .ffffff-vuE {
                            line-height: 1.125;
                            font-family: Public Sans, 'Source Sans Pro';
                            flex-shrink: 0;
                            white-space: nowrap;
                            display: flex;
                            font-size: 1.6rem;
                            font-weight: 300;
                            letter-spacing: 0.1rem;
                            color: #000000;
                          }
                        }
                      }
                    }
                  }
                  .group-1000004383-4Ek {
                    flex-shrink: 0;
                    margin-bottom: 3rem;
                    width: 100%;
                    height: 9.7rem;
                    display: flex;
                    align-items: center;

                    .secondary-bVa {
                      font-size: 2.4rem;
                      font-weight: 400;
                      flex-shrink: 0;
                      display: flex;
                      line-height: 1.375;
                      color: #000000;
                      font-family: Public Sans, 'Source Sans Pro';
                      white-space: nowrap;
                      margin: 0rem 5.8rem 2rem 0rem;
                    }
                    .auto-group-fqxg-7yi {
                      margin-right: 2.4rem;
                      width: 7.8rem;
                      height: 100%;
                      flex-shrink: 0;

                      .rectangle-2722-UJU {
                        margin-bottom: 0.3rem;
                        width: 100%;
                        height: 7.6rem;
                        border: solid 0.1rem #d6d6d6;
                        box-sizing: border-box;
                        background-color: #333333;
                      }
                      .item-333333-c9n {
                        white-space: nowrap;
                        display: flex;
                        font-size: 1.6rem;
                        font-weight: 300;
                        line-height: 1.125;
                        letter-spacing: 0.1rem;
                        color: #000000;
                        font-family: Public Sans, 'Source Sans Pro';
                      }
                    }
                    .auto-group-ukwk-LLg {
                      margin-right: 2.5rem;
                      height: 100%;
                      align-items: flex-end;
                      display: flex;
                      flex-direction: column;
                      flex-shrink: 0;

                      .rectangle-2721-Hmi {
                        margin-bottom: 0.3rem;
                        width: 7.8rem;
                        height: 7.6rem;
                        background-color: #4b4b4b;
                        flex-shrink: 0;
                      }
                      .b4b4b-qYL {
                        font-weight: 300;
                        color: #000000;
                        white-space: nowrap;
                        font-family: Public Sans, 'Source Sans Pro';
                        flex-shrink: 0;
                        display: flex;
                        font-size: 1.6rem;
                        line-height: 1.125;
                        letter-spacing: 0.1rem;
                      }
                    }
                    .auto-group-yvje-AqW {
                      margin-right: 2.2rem;
                      width: 7.8rem;
                      height: 100%;
                      align-items: center;
                      display: flex;
                      flex-direction: column;
                      flex-shrink: 0;

                      .rectangle-2723-iME {
                        margin-bottom: 0.3rem;
                        width: 100%;
                        height: 7.6rem;
                        background-color: #707171;
                        flex-shrink: 0;
                      }
                      .item-707171-sE8 {
                        line-height: 1.125;
                        font-family: Public Sans, 'Source Sans Pro';
                        white-space: nowrap;
                        display: flex;
                        font-size: 1.6rem;
                        font-weight: 300;
                        letter-spacing: 0.1rem;
                        color: #000000;
                        flex-shrink: 0;
                      }
                    }
                    .auto-group-t2ja-bR2 {
                      height: 100%;
                      align-items: flex-end;
                      display: flex;
                      flex-direction: column;
                      flex-shrink: 0;

                      .rectangle-2719-wzg {
                        flex-shrink: 0;
                        margin-bottom: 0.3rem;
                        width: 7.8rem;
                        height: 7.6rem;
                        background-color: #d6d6d6;
                      }
                      .d6d6d6-H2x {
                        display: flex;
                        font-size: 1.6rem;
                        font-weight: 300;
                        line-height: 1.125;
                        letter-spacing: 0.1rem;
                        color: #000000;
                        font-family: Public Sans, 'Source Sans Pro';
                        margin-right: 0.2rem;
                        flex-shrink: 0;
                        white-space: nowrap;
                      }
                    }
                  }
                  .group-1000004384-bZS {
                    width: 100%;
                    height: 9.7rem;
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;

                    .accent-Xxt {
                      margin: 0rem 10rem 2rem 0rem;
                      display: flex;
                      font-weight: 400;
                      line-height: 1.375;
                      color: #000000;
                      font-size: 2.4rem;
                      font-family: Public Sans, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                    }
                    .auto-group-nzjc-4C8 {
                      margin-right: 2.4rem;
                      width: 7.8rem;
                      height: 100%;
                      flex-shrink: 0;

                      .rectangle-2722-Q16 {
                        margin-bottom: 0.3rem;
                        width: 100%;
                        height: 7.6rem;
                        border: solid 0.1rem #d6d6d6;
                        box-sizing: border-box;
                        background-color: #13c14f;
                      }
                      .c14f-8St {
                        font-weight: 300;
                        line-height: 1.125;
                        letter-spacing: 0.1rem;
                        color: #000000;
                        font-family: Public Sans, 'Source Sans Pro';
                        white-space: nowrap;
                        display: flex;
                        font-size: 1.6rem;
                      }
                    }
                    .auto-group-y7pe-Tk4 {
                      margin-right: 2.3rem;
                      height: 100%;
                      display: flex;
                      flex-direction: column;
                      flex-shrink: 0;

                      .rectangle-2721-ccx {
                        height: 7.6rem;
                        background-color: #d37a27;
                        flex-shrink: 0;
                        margin: 0rem 0rem 0.3rem 0.3rem;
                        width: 7.8rem;
                      }
                      .d37a27-kUG {
                        font-family: Public Sans, 'Source Sans Pro';
                        white-space: nowrap;
                        font-size: 1.6rem;
                        font-weight: 300;
                        line-height: 1.125;
                        letter-spacing: 0.1rem;
                        color: #000000;
                        flex-shrink: 0;
                        display: flex;
                      }
                    }
                    .auto-group-e3ng-t4g {
                      margin-right: 1.9rem;
                      height: 100%;
                      align-items: flex-end;
                      display: flex;
                      flex-direction: column;
                      flex-shrink: 0;

                      .rectangle-2723-qVi {
                        margin: 0rem 0.3rem 0.3rem 0rem;
                        width: 7.8rem;
                        height: 7.6rem;
                        background-color: #e95f57;
                        flex-shrink: 0;
                      }
                      .e95f57-muA {
                        letter-spacing: 0.1rem;
                        color: #000000;
                        white-space: nowrap;
                        display: flex;
                        font-size: 1.6rem;
                        font-weight: 300;
                        line-height: 1.125;
                        font-family: Public Sans, 'Source Sans Pro';
                        flex-shrink: 0;
                      }
                    }
                    .auto-group-3cqg-7i8 {
                      flex-direction: column;
                      flex-shrink: 0;
                      height: 100%;
                      display: flex;

                      .rectangle-2719-sBW {
                        background-color: #40baff;
                        flex-shrink: 0;
                        margin: 0rem 0rem 0.3rem 0.3rem;
                        width: 7.8rem;
                        height: 7.6rem;
                      }
                      .baff-12p {
                        color: #000000;
                        font-family: Public Sans, 'Source Sans Pro';
                        white-space: nowrap;
                        flex-shrink: 0;
                        display: flex;
                        font-weight: 300;
                        line-height: 1.125;
                        font-size: 1.6rem;
                        letter-spacing: 0.1rem;
                      }
                    }
                  }
                }
              }
              .frame-1000004945-jDi {
                width: 117.9rem;
                flex-shrink: 0;

                .iconography-HW8 {
                  display: flex;
                  font-size: 5.5rem;
                  font-weight: 500;
                  line-height: 1.3818181818;
                  color: #000000;
                  font-family: Public Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-bottom: 3rem;
                }
                .frame-1000004933-2ic {
                  width: 100%;
                  display: flex;
                  align-items: center;

                  .vector-w4t {
                    margin: 0rem 1.4rem 0rem 0rem;
                    width: 2.4rem;
                    height: 1.3975rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .visible-TZ2 {
                    margin-right: 1.5rem;
                    width: 2.4rem;
                    height: 2.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .visibilityoff24px-PxU {
                    flex-shrink: 0;
                    margin-right: 1.5rem;
                    width: 2.2rem;
                    height: 1.5rem;
                    object-fit: contain;
                    vertical-align: top;
                  }
                  .dropdown-Lcp {
                    margin-right: 1.4rem;
                    width: 2.4rem;
                    height: 2.4rem;
                    position: relative;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .download-ggg {
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 1.4rem;
                    width: 2.4rem;
                    height: 2.4rem;
                    position: relative;
                    object-fit: contain;
                  }
                  .info-ECQ {
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 1.4rem;
                    width: 2.4rem;
                    height: 2.4rem;
                    object-fit: contain;
                  }
                  .sort-BNY {
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 1.4rem;
                    width: 2.4rem;
                    height: 2.4rem;
                    object-fit: contain;
                  }
                  .filter-jQ4 {
                    width: 2.4rem;
                    height: 2.4rem;
                    position: relative;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 1.4rem;
                  }
                  .folder-5yi {
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 1.4rem;
                    width: 2.4rem;
                    height: 2.4rem;
                    object-fit: contain;
                  }
                  .resume-qCC {
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 1.4rem;
                    width: 2.4rem;
                    height: 2.4rem;
                    object-fit: contain;
                  }
                  .verified-user-aQg {
                    width: 2.4rem;
                    height: 2.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 1.4rem;
                  }
                  .save-XKv {
                    width: 2.4rem;
                    height: 2.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 1.4rem;
                  }
                  .pin-UFA {
                    margin-right: 1.4rem;
                    width: 2.4rem;
                    height: 2.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .edit-DTe {
                    height: 2.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 1.4rem;
                    width: 2.4rem;
                  }
                  .share-NLY {
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 1.4rem;
                    width: 2.4rem;
                    height: 2.4rem;
                    object-fit: contain;
                  }
                  .delete--vN4 {
                    margin-right: 1.4rem;
                    width: 2.4rem;
                    height: 2.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .cross-4z4 {
                    width: 2.4rem;
                    height: 2.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 1.4rem;
                  }
                  .control-centre-d1a {
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 1.4rem;
                    width: 2.4rem;
                    height: 2.4rem;
                  }
                  .stop-screen-share-NUx {
                    margin-right: 1.4rem;
                    width: 2.4rem;
                    height: 2.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .calender-7Be {
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 1.4rem;
                    width: 2.4rem;
                    height: 2.4rem;
                    position: relative;
                    object-fit: contain;
                  }
                  .messages-rf2 {
                    margin-right: 1.4rem;
                    width: 3.4rem;
                    height: 3.4rem;
                    position: relative;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .link-Cyn {
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 1.4rem;
                    width: 2.4rem;
                    height: 2.4rem;
                    object-fit: contain;
                  }
                  .reply-m1J {
                    flex-shrink: 0;
                    margin-right: 1.4rem;
                    width: 2.4rem;
                    height: 2.4rem;
                    position: relative;
                    object-fit: contain;
                    vertical-align: top;
                  }
                  .send-Jmv {
                    margin-right: 1.4rem;
                    width: 2.4rem;
                    height: 2.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .grid-r2k {
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 1.4rem;
                    width: 2.4rem;
                    height: 2.4rem;
                    position: relative;
                    object-fit: contain;
                  }
                  .comment-C6c {
                    flex-shrink: 0;
                    margin-right: 1.4rem;
                    width: 2.4rem;
                    height: 2.4rem;
                    object-fit: contain;
                    vertical-align: top;
                  }
                  .fullscreen-LCp {
                    height: 2.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 1.4rem;
                    width: 2.4rem;
                  }
                  .minus-tEL {
                    width: 2.4rem;
                    height: 2.4rem;
                    position: relative;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 1.4rem;
                  }
                  .plus-dxc {
                    width: 2.4rem;
                    height: 2.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 1.4rem;
                  }
                  .arrow-Pgt {
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 1.4rem;
                    width: 2.9rem;
                    height: 2.9rem;
                  }
                  .profile-k1e {
                    flex-shrink: 0;
                    width: 2.4rem;
                    height: 2.4rem;
                    object-fit: contain;
                    vertical-align: top;
                  }
                }
              }
            }
          }
          .more-work-Fyz {
            width: 100%;
            row-gap: 5.5rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .more-work-Dfv {
              display: flex;
              font-size: 5.5rem;
              font-weight: 500;
              line-height: 1.3818181818;
              color: #000000;
              font-family: Public Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .a-mBe {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              width: 100%;
              height: 41.2984rem;
              cursor: pointer;

              .frame-1410114918-uoe {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin: 10.602rem 11.5rem 13.797rem 0rem;
                height: calc(100% - 24.3984rem);

                .frame-1410114917-F6p {
                  margin-bottom: 4.2rem;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .epacts-oPE {
                    line-height: 1.375;
                    font-family: Public Sans, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    font-size: 3.2rem;
                    font-weight: 500;
                    margin-bottom: 0.9rem;
                    color: #000000;
                  }
                  .website-design-KcU {
                    flex-shrink: 0;
                    display: flex;
                    font-weight: 300;
                    letter-spacing: 0.3rem;
                    text-transform: uppercase;
                    color: #000000;
                    font-family: Public Sans, 'Source Sans Pro';
                    white-space: nowrap;
                    font-size: 2rem;
                    line-height: 1.2;
                  }
                }
                .e-pacts-provides-enterprise-class-it-security-services-for-consultancy-sustenance-and-implementation-Sh6 {
                  display: flex;
                  font-size: 1.8rem;
                  font-weight: 300;
                  line-height: 1.3888888889;
                  color: #000000;
                  font-family: Public Sans, 'Source Sans Pro';
                  flex-shrink: 0;
                  max-width: 43.9rem;
                }
              }
              .div-YEL {
                padding: 5.302rem 7.5rem 0rem 7.5rem;
                height: 100%;
                overflow: hidden;
                position: relative;
                background-color: #f0f0f0;
                flex-shrink: 0;
                box-sizing: border-box;

                .b932b7d45a7a1ed097fe76portfolio204-min-p-800jpg-5k4 {
                  background-size: 101.299% 100.829%;
                  background-position: -0.3748rem -0.3016rem;
                  background-image: url('REPLACE_IMAGE:a6ea490fc24b7b01473093eeea9691b20408decb');
                  width: 57.6rem;
                  height: 36rem;
                  position: relative;
                }
              }
            }
            .a-Xrx {
              flex-shrink: 0;
              box-sizing: border-box;
              padding-right: 2.2rem;
              width: 100%;
              height: 41.2984rem;
              cursor: pointer;
              display: flex;
              align-items: center;

              .div-svp {
                height: 100%;
                overflow: hidden;
                position: relative;
                background-color: #f0f0f0;
                flex-shrink: 0;
                margin-right: 7rem;
                box-sizing: border-box;
                padding: 5.003rem 7.4rem 0rem 7.3rem;

                .b932267ee4c7e299e0ef61portfolio202-min-p-800jpg-Cy6 {
                  width: 57.9rem;
                  height: 36.3rem;
                  object-fit: cover;
                  vertical-align: top;
                }
              }
              .frame-1410114920-864 {
                flex-shrink: 0;
                margin: 9.303rem 0rem 10.095rem 0rem;
                height: calc(100% - 19.3984rem);
                display: flex;
                flex-direction: column;

                .frame-1410114919-TPE {
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;
                  margin-bottom: 4.2rem;

                  .redesign-DNQ {
                    flex-shrink: 0;
                    display: flex;
                    font-weight: 500;
                    line-height: 1.375;
                    font-family: Public Sans, 'Source Sans Pro';
                    margin-bottom: 0.9rem;
                    font-size: 3.2rem;
                    color: #000000;
                    white-space: nowrap;
                  }
                  .ui-redesign-9Wx {
                    display: flex;
                    line-height: 1.2;
                    text-transform: uppercase;
                    font-family: Public Sans, 'Source Sans Pro';
                    flex-shrink: 0;
                    font-size: 2rem;
                    font-weight: 300;
                    letter-spacing: 0.3rem;
                    color: #000000;
                    white-space: nowrap;
                  }
                }
                .redesigned-software-websites-and-apps-of-some-of-the-most-liked-intuitive-products-in-the-market-note-these-designs-are-non-functional-and-do-not-belong-to-the-respective-brands-rwA {
                  color: #000000;
                  font-family: Public Sans, 'Source Sans Pro';
                  flex-shrink: 0;
                  max-width: 46.2rem;
                  display: flex;
                  font-size: 1.8rem;
                  font-weight: 300;
                  line-height: 1.3888888889;
                }
              }
            }
          }
        }
      }
    }
  }
}

$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: 'Roboto Slab', serif;

body {
  background-color: #000;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient( to bottom, transparentize(#0E1D33, 0.2) , transparentize(#0E1D33, 0.8) );
}

.hero-slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .carousel-cell {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .inner {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      color: white;
      text-align: center;

      .subtitle {
        font-family: $font-family-secondary;
        font-size: 2.2rem;
        line-height: 1.2em;
        font-weight: 200;
        font-style: italic;
        letter-spacing: 3px;
        color: rgba(255,255,255,0.5);
        margin-bottom: 5px;
      }

      .title {
        font-family: $font-family-primary;
        font-size: 3rem;
        line-height: 1.2em;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 40px;
      }
      .btn{
        border: 1px solid #fff;
        padding: 14px 18px;
        text-transform: uppercase;
        font-family: $font-family-primary;
        font-size: 0.8rem;
        letter-spacing: 3px;
        color: #fff;
        text-decoration: none;
        transition: all .2s ease;
        &:hover{
          background: #fff;
          color: #000;
        }
      }
    }
  }

  .flickity-prev-next-button {
    width: 80px;
    height: 80px;
    background: transparent;
    &:hover{
      background: transparent;
    }
    .arrow{
      fill: white;
    }
  }
  .flickity-page-dots {
    bottom: 30px;
    .dot{
      width: 30px;
      height: 4px;
      opacity: 1;
      background: rgba(255,255,255,0.5);
      border: 0 solid white;
      border-radius: 0;
      &.is-selected{
        background: #ff0000;
        border: 0 solid #ff0000; 
      }
    }
  }
}