
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
.link{
  text-decoration: none;
}

.link:hover{
  text-decoration: underline solid 1.4px #000 ;
}
.link-endpages{
  text-decoration: none;
}

body {
  width: 151.2rem;
}.all-designs-5ZA {
  width: 100%;
 
  position: relative;
  background-color: #ffffff;
}
.frame-10000049502-2-k96 {
  width: 18.5rem;
  height: 3.8rem;
  cursor: pointer;
  
  vertical-align: top;
  flex-shrink: 0;
  position: absolute;
  margin-left: -64rem;
  margin-top: 2.7rem;
}
.all-designs-5ZA .main-R7E {
  box-sizing: border-box;
  padding-bottom: 7.8031rem;
  width: 151.2rem;
  height: 720rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v {
  box-sizing: border-box;
  padding: 12.8rem 11.6rem 3.2rem 11.1rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .my-design-rTS {
  margin: 0rem 0rem 17.539rem 0.5rem;
  width: calc(100% - 0.5rem);
  height: 39.2rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .my-design-rTS .div-Nwa {
  margin: 0.95rem 29.872rem 0rem 0rem;
  width: 40.1rem;
  height: 8.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 7.4rem;
  font-weight: 500;
  line-height: 1;
  text-transform: capitalize;
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .my-design-rTS .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-FkU {
  width: 58.0283rem;
  height: 100%;
  row-gap: 4.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .my-design-rTS .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-FkU .div-AMe {
  margin-left: 0.0283rem;
  width: calc(100% - 0.0283rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .my-design-rTS .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-FkU .div-AMe .auto-group-gzup-hMa {
  box-sizing: border-box;
  padding-bottom: 0.9rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .my-design-rTS .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-FkU .div-AMe .auto-group-gzup-hMa .year-dm2 {
  margin-bottom: 0.9rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .my-design-rTS .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-FkU .div-AMe .auto-group-gzup-hMa .current-9UU {
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.3888888889;
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .my-design-rTS .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-FkU .div-AMe .div-apg {
  width: 100%;
  height: 0.1rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .my-design-rTS .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-FkU .div-jha {
  width: 100%;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .my-design-rTS .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-FkU .div-jha .services-tqN {
  margin-left: 0.0283rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .my-design-rTS .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-FkU .div-jha .branding-redesign-pj2 {
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.3888888889;
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .my-design-rTS .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-FkU .div-jha .div-Ant {
  margin-left: 0.0283rem;
  width: calc(100% - 0.0283rem);
  height: 0.1rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .my-design-rTS .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-FkU .div-Wbr {
  margin-left: 0.0283rem;
  width: calc(100% - 0.0283rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .my-design-rTS .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-FkU .div-Wbr .auto-group-be8g-sSQ {
  box-sizing: border-box;
  padding-bottom: 0.9rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .my-design-rTS .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-FkU .div-Wbr .auto-group-be8g-sSQ .intro-cun {
  margin-bottom: 0.9rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .my-design-rTS .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-FkU .div-Wbr .auto-group-be8g-sSQ .redesigned-software-websites-and-apps-of-some-of-the-most-liked-intuitive-products-in-the-market-note-these-designs-are-non-functional-and-do-not-belong-to-the-respective-brands-Z4L {
  max-width: 50.1rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.3888888889;
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .my-design-rTS .divw-node-83fa2830-a68c-3230-2670-8e874be5d0d7-1ddfd172-FkU .div-Wbr .div-Deg {
  width: 100%;
  height: 0.1rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .web-mAQ {
  margin-bottom: 4.0609rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-left: -10rem;
}
.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .web-mAQ .adidas-1-vJC {
  margin-right: 0rem;
  width: 70rem;
  height: 250rem;
  position: relative;
  background-size: 100% 100%;
  background-position: -0rem 0;
  background-image: url('../assets/strivemindz.jpg');
  flex-shrink: 0;
  background-repeat: no-repeat;
}
.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .web-mAQ .group-23-cRv {
  width: 70rem;
  height: 250rem;
  position: relative;
  
  background-size: 100% 101.443%;
  background-position: -0rem -1.3829rem;
  background-image: url('../assets/topwork.jpg');
  flex-shrink: 0;
  background-repeat: no-repeat;
}
.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .tab-WnC {
  margin-left: 0.2rem;
  width: calc(100% - 0.2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .tab-WnC .smartmockupslepdjru8-ff6 {
  margin-top: -20rem;
  
  height: 62rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .auto-group-hfnp-j7v .tab-WnC .item-389087481594-1-PLC {
  width: 69.6rem;
  height: 81.3rem;
  position: relative;
  background-size: 142.819% 100.685%;
  background-position: -24.9021rem 0rem;
  background-image: url('../assets/service\ provider');
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .designs-4BS {
  margin-bottom: 10.3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .designs-4BS .auto-group-psty-oep {
  margin-bottom: 5.8469rem;
  box-sizing: border-box;
  padding: 96.8rem 62.776rem 12.218rem 81.183rem;
  width: 100%;
  height: 138.3531rem;
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .designs-4BS .auto-group-psty-oep .pngwing-iWt {
  width: 43.6938rem;
  height: 32.8235rem;
  position: absolute;
  left: 120.8rem;
  top: 445rem;
  object-fit: cover;
  vertical-align: top;
  z-index: 3;
}
.all-designs-5ZA .main-R7E .designs-4BS .auto-group-psty-oep .item-23126615205-1-Sxg {
  
  height: 62rem;
  position: absolute;
  left: 79rem;
  top: 323.5rem;
  object-fit: contain;
  vertical-align: top;
}
.all-designs-5ZA .main-R7E .designs-4BS .auto-group-psty-oep .untitled-1gfh-ANt {
  
  height: 62rem;
  position: absolute;
  left: 79rem;
  top: 391.2rem;
  object-fit: contain;
  vertical-align: top;
}
.all-designs-5ZA .main-R7E .designs-4BS .auto-group-psty-oep .group-6-1-JV6 {
  
  height: 62rem;
  position: absolute;
  left: 11rem;
  top: 460rem;
  object-fit: cover;
  vertical-align: top;
}
.all-designs-5ZA .main-R7E .designs-4BS .auto-group-psty-oep .tabletandlaptopontransparentbackground-dGU {
  
  height: 62rem;
  position: absolute;
  left: 11.3rem;
  top: 390rem;
  object-fit: contain;
  vertical-align: top;
}
.all-designs-5ZA .main-R7E .designs-4BS .auto-group-psty-oep .pngwing-1-x3r {
  width: 23.2rem;
  height: 25.6rem;
  position: absolute;
  left: 135.2rem;
  top: 365.6rem;
  object-fit: contain;
  vertical-align: top;
}
.all-designs-5ZA .main-R7E .designs-4BS .auto-group-psty-oep .pngwing-tTJ {
  width: 20.9rem;
  height: 17.7rem;
  position: relative;
  left: 4.1rem;
  top: 400.4rem;
  background-size: 100% 131.063%;
  background-position: 0 -1.0585rem;
  background-image: url('../assets/pngwing.png');
  /* */
}
.all-designs-5ZA .main-R7E .designs-4BS .auto-group-psty-oep .pngwing-2-zmE {
  width: 26.0183rem;
  height: 29.335rem;
  position: relative;
  background-size: 169.954% 100%;
  background-position: -9.327rem -0rem;
  background-image: url('../ssets/pngwing-2.png');
  z-index: 3;
}
.all-designs-5ZA .main-R7E .designs-4BS .auto-group-psty-oep .pngwing-3-KYc {
  width: 22.0962rem;
  height: 22.2572rem;
  position: absolute;
  left: 75.1rem;
  top: 409.3rem;
  object-fit: cover;
  vertical-align: top;
}
.all-designs-5ZA .main-R7E .designs-4BS .group-1000004389-FhA {
  margin: 0rem 10.294rem 0rem 8.483rem;
  width: calc(100% - 18.7767rem);
  height: 74.6rem;
  position: relative;
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .designs-4BS .group-1000004389-FhA .gggggg-1-ydA {
  width: 69.6rem;
  height: 81.3rem;
  position: relative;
  background-size: 90% 75%;
  left: 2.5rem;
  top: -20.3rem;
  background-repeat: no-repeat;
  background-position: -0.041rem 0;
  background-image: url('../assets/shreni.png');
}
 /* .all-designs-5ZA .main-R7E .designs-4BS .group-1000004389-FhA .rectangle-2779-Hdr {
  width: 73.5rem;
  height: 64.3rem;
  position: absolute;
  left: 77.7rem;
  top: -29.7rem;
  backgroun:d linear-gradient(180deg, #ffffff 0%, #f9f9f9 11.77%, #e4e4e4 38.85%, #d1d1d1 58.65%, #c1c1c1 67.5%, #aaaaaa 100%);
}*/
.all-designs-5ZA .main-R7E .designs-4BS .auto-group-psty-oep  .group-1000004388-NvC {
  
  height: 62rem;
  position: absolute;
  left: 79.6rem;
  top: 460rem;
  object-fit: contain;
  vertical-align: top;
}
.all-designs-5ZA .main-R7E .designs-4BS .auto-group-psty-oep  .unicas {
  
  height: 62rem;
  position: absolute;
  left: 79.6rem;
  top: 530rem;
  object-fit: contain;
  vertical-align: top;
  z-index: 3;
}
.all-designs-5ZA .main-R7E .more-work-KKe {
  margin: 0 11.6rem;
  width: calc(100% - 23.2rem);
  height:80rem;
  row-gap: 5.5rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-top: -30rem;
  
}
.all-designs-5ZA .main-R7E .more-work-KKe .more-work-raU {
  display: flex;
  font-size: 5.5rem;
  font-weight: 500;
  line-height: 1;
  text-transform: capitalize;
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .more-work-KKe .a-PKW {
  box-sizing: border-box;
  padding-right: 2.1rem;
  width: 100%;
  height: 41.2984rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .more-work-KKe .a-PKW .div-8Xz {
  margin-right: 7rem;
  box-sizing: border-box;
  padding: 5rem 7.261rem 0rem 7.259rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #f0f0f0;
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .more-work-KKe .a-PKW .div-8Xz .b931bfd0a706776aa0060eportfilio201-min-p-800jpg-TqA {
  width: 58.0797rem;
  height: 36.2984rem;
  object-fit: cover;
  vertical-align: top;
}
.all-designs-5ZA .main-R7E .more-work-KKe .a-PKW .frame-1410114916-aet {
  margin: 9.2rem 0rem 12.398rem 0rem;
  height: calc(100% - 21.5984rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .more-work-KKe .a-PKW .frame-1410114916-aet .frame-1410114915-ux4 {
  margin-bottom: 4.2rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .more-work-KKe .a-PKW .frame-1410114916-aet .frame-1410114915-ux4 .panoram-cgi-fwE {
  margin-bottom: 0.9rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.375;
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .more-work-KKe .a-PKW .frame-1410114916-aet .frame-1410114915-ux4 .software-design-product-design-c5n {
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.35;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .more-work-KKe .a-PKW .frame-1410114916-aet .panoram-cgi-is-a-boutique-visualization-studio-specializing-in-3d-renderings-and-animations-for-luxury-brands-in-architecture-interiors-and-golf-course-sectors-jAQ {
  max-width: 46.3rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.3888888889;
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .more-work-KKe .a-zc8 {
  width: 100%;
  height: 51.2984rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .more-work-KKe .a-zc8 .frame-1410114918-wGU {
  margin: 10.602rem 11.5rem 13.797rem 0rem;
  height: calc(100% - 24.3984rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .more-work-KKe .a-zc8 .frame-1410114918-wGU .frame-1410114917-46C {
  margin-bottom: 4.2rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .more-work-KKe .a-zc8 .frame-1410114918-wGU .frame-1410114917-46C .epacts-c7i {
  margin-bottom: 0.9rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.375;
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .more-work-KKe .a-zc8 .frame-1410114918-wGU .frame-1410114917-46C .website-design-kDv {
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .more-work-KKe .a-zc8 .frame-1410114918-wGU .e-pacts-provides-enterprise-class-it-security-services-for-consultancy-sustenance-and-implementation-5GC {
  max-width: 43.9rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.3888888889;
  color: #000000;
  font-family: Public Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .more-work-KKe .a-zc8 .div-P1z {
  box-sizing: border-box;
  padding: 5.302rem 7.5rem 0rem 7.5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #f0f0f0;
  flex-shrink: 0;
}
.all-designs-5ZA .main-R7E .more-work-KKe .a-zc8 .div-P1z .b932b7d45a7a1ed097fe76portfolio204-min-p-800jpg-vnc {
  width: 57.6rem;
  height: 36rem;
  position: relative;
  background-size: 101.299% 100.829%;
  background-position: -0.3748rem -0.3016rem;
  background-image: url('../assets/The\ registry\ thumbnail.png');
  
}

